<ion-content [fullscreen]="true">  
  <div id="container">    
    <a routerLink="/home">
      <img src="../../assets/back-icon.svg" alt="" class="back-icon">
    </a>
    <div class="login-header">
      <img class="logo" src="../../assets/logo-mae.svg" alt="">
      <p class="title">Soninho com Amor</p>
    </div>
    <div class="login-content">
      <p class="login-text-content">Entrar com</p>
      <div class="images-icon">
        <img class="" src="../../assets/facebook-icon.svg" alt="">
        <img class="" src="../../assets/google-icon.svg" alt="">
      </div>
      <p class="teste">ou</p>
    <form class="login-data">
      <p class="login-text-content">Seus dados</p>
      <div class="nomeSobrenome">
      <input required class="input Nome" placeholder="Nome*">
      <input class="input Sobrenome" placeholder="Sobrenome*">
      </div>
      <input class="input Email" placeholder="Email*">
      <input class="input Senha" placeholder="Senha*">      
    </form>
    </div>
    <div class="buttons">
      <a routerLink="/login" class="entrar">Criar conta</a>
    </div>
  </div>
</ion-content>