<ion-content [fullscreen]="true">
	<div id="container">
		<a routerLink="/home">
			<img src="../../assets/back-icon.svg" alt="" class="back-icon">
		</a>
		<div class="login-header">
			<img class="logo" src="../../assets/logo-mae.svg" alt="">
			<p class="title">Soninho com Amor</p>
		</div>
		<div class="login-content">
			<p class="login-text-content">Entrar com</p>
			<div class="images-icon">
				<img class="" src="../../assets/facebook-icon.svg" alt="">
				<img class="" src="../../assets/google-icon.svg" alt="">
			</div>
			<p class="text-ou">ou</p>
			<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="login-data">
				<div class="box">
					<p class="login-text-content">Seus dados</p>
					<div class="nomeSobrenome">
						<input required class="input Nome" placeholder="Nome*" formControlName="nome">
						<input required class="input Sobrenome" placeholder="Sobrenome*" formControlName="sobrenome">
					</div>
					<input required class="input Email" placeholder="Email*" formControlName="email">
					<input required type="password" class="input Senha" placeholder="Senha*" formControlName="senha">
				</div>
				<div class="buttons">
					<button type="submit" [disabled]="!cadastroForm.valid"  class="entrar">Criar conta</button>
				</div>
			</form>
		</div>
	</div>
</ion-content>