.back-icon {
    margin: 5.88rem 0 0 3.75rem;
}

.editar-username {
    color: var(--primary-title, #353535);
    font-family: Poppins;
    font-size: 1.29375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .p{
        margin: auto;
    }
}

.editar-foto {
    color: var(--primary-body, #4C4E53);
    font-family: Poppins;
    font-size: 0.625rem;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.logo-rosto {
    border-radius: 50%;
    height: 4.5rem;
}

.perfil-box {
    width: 19.0625rem;
    height: 12.25rem;
    flex-shrink: 0;
    margin: 5rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.81rem;
    

    border-radius: 0.3125rem;
    background-color: transparent;
    box-shadow: 0.75px 0.5px 5px 0px rgba(51, 19, 30, 0.15);

    .p {
        color: #292929;
        text-align: center;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
    }
}

.dados-box {
    width: 19.0625rem;
    height: 10.4375rem;
    flex-shrink: 0;
    
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 0.3125rem;
    background-color: transparent;
    box-shadow: 0.75px 0.5px 5px 0px rgba(51, 19, 30, 0.15);
}

.input {
    display: flex;
    width: 17.1875rem;
    height: 1.875rem;
    padding: 0.5625rem 1rem;
    align-items: center;
    margin-top: 0.62rem;
    flex-shrink: 0;

    border-radius: 0.3125rem;
    border: 1px solid #EBE7E6;
    background-color: transparent;
}

.perfil-text-content {
    color: #292929;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0.5rem 0 0
}

.input.Nome {
    display: flex;
    width: 16.9375rem;
    height: 1.875rem;
    padding: 0.5625rem 1rem;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;

    border-radius: 0.3125rem;
    border: 1px solid #EBE7E6;

    color: #9D9A99;
    text-align: left;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input.Email {
    display: flex;
    width: 17.1875rem;
    height: 1.875rem;
    padding: 0.5625rem 1rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 0.3125rem;
    border: 1px solid #EBE7E6;

    color: #9D9A99;
    text-align: left;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input.Senha {
    display: flex;
    width: 17.1875rem;
    height: 1.875rem;
    padding: 0.5625rem 0.875rem;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;

    border-radius: 0.3125rem;
    border: 1px solid #EBE7E6;

    color: #9D9A99;
    text-align: left;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons {
    display: flex;
    justify-content: center;
}

.salvar {
    display: inline-flex;
    padding: 1.25rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin: 3.75rem 3rem 3rem;

    border-radius: 2.8125rem;
    background: #F1B8C9;
    box-shadow: 0px 1px 2px 0px rgba(51, 19, 30, 0.25);

    color: #3D1724;
    font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 122.5%; /* 1.1025rem */

}

