<ion-content [fullscreen]="true">
	<div class="container">
		<div class="inicio-header">
			<div class="logo">
				<img src="../../assets/logo-mae.svg" alt="">
			</div>
			<nav class="menu">
				<input type="checkbox" class="menu-fake-trigger">
				<div class="menu-lines">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<ul>
					<li><a routerLink="" >Meu perfil</a></li>
					<li><a>Privacidade</a></li>
					<li><a>Segurança</a></li>
					<li><a>Pacotes</a></li>
					<li><a>Suporte</a></li>
				</ul>
			</nav>
		</div>
		<div class="initial-login-data">
			<img class="logo-rosto" src="../../assets/logo-conta.svg">
			<div class="conta-dados">
				<h3>Olá, tudo bem?</h3>
				<p>Cadastre-se e receba todos beneficios!</p>
			</div>
		</div>
		<div class="line"></div>
		<div class="pesquisar">
			<img class="logo-pesquisa" src="../../assets/search-icon.svg" alt="">
			<input class="pesquisa" placeholder="Pesquise aqui suas principais dúvidas!">
		</div>
		<div class="dicas-content">
			<h3 class="title">Dica do dia!</h3>
			<div *ngFor="let dica of dicas; let i = index" class="dicas">
				<span>
					<img src="../../assets/baby-bottle.svg" alt="mamadeira">
				</span>
				<span>{{dica + ' ' + (i + 1)}}</span>
			</div>
		</div>
		<div class="quem-somos">
			<h3 class="title">Quem somos nós?</h3>
			<div class="video-simulador">
				<span>Vídeo promocional</span>
			</div>
		</div>
		<div class="conheca-nossa-cultura">
			<h3 class="title">Conheça nossa consultoria!</h3>
			<div class="culture-content">
				<h4>Plano de Sono</h4>
				<span>Personalizado</span>
				<ul>
					<li *ngFor="let plano of planosDeSono">
						{{plano}}
					</li>
				</ul>
				<button>Quero dormir melhor!</button>
			</div>
		</div>
	</div>
</ion-content>