<ion-content [fullscreen]="true">  
  <div id="container">    
    <a routerLink="/inicio-conta">
      <img src="../../assets/menu-icon.svg" alt="" class="menu-icon">
    </a>
    <div class="login-header">
      <img class="logo" src="../../assets/logo-mae.svg" alt="">
    </div>
    <div>
      <img class="logo-rosto" src="../../assets/google-icon.svg" alt="">
      <p class="title">Olá, tudo bem?</p>
      <p>Cadastre-se e receba todos beneficios!</p>      
    </div>
    <div class="pesquisar">
      <img class="logo-pesquisa" src="../../assets/search-icon.txt" alt="">
      <input class="pesquisa" placeholder="Pesquise aqui suas principais dúvidas!*">
    </div>
    <div>
      <p class="title">Dica do dia!</p>
      <input class="como-fazer" placeholder="Como fazer">
      <input class="como-fazer" placeholder="Como fazer">
      <input class="como-fazer" placeholder="Como fazer">
    </div>
    <div>
      <p class="title">Quem somos nós?</p>
      <input class="quem-somos" placeholder="VíDEO PROMOCIONAL">
    </div>
    <div>
      <p class="title">Conheça nossa consultoria!</p>
      <p class=plano-de-sono>Plano de Sono</p>
      <p class="personalizado">Personalizado</p>
    </div>
  </div>
</ion-content>