
#container {
    background: #FFF4FF;
    height: 100%;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.94rem;
}

.title {
    color: #F1B8C9;
    leading-trim: both;
    text-edge: cap;
    text-shadow: 0.25px 0.5px 0.5px rgba(69, 25, 41, 0.20);
    font-family: Cookie;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -13px;
}

.login-text-content {
    color: #292929;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.images-icon {
    display: flex;
    gap: 2.5rem;
    margin-top: 1.25rem;
}

.logo {
    height: 4rem;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-data {
    font-family: Poppins;
    width: 19.0625rem;
    height: 8.375rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0.3125rem;
    background: #FFF4FF;
    box-shadow: 0.75px 0.5px 5px 0px rgba(51, 19, 30, 0.15);
    padding: 1.8rem;
}

.teste {
    margin: 2.94rem 0 2.88rem 0;

    color: #292929;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.back-icon {
    margin: 5.88rem 0 0 3.75rem;
}

.input {
    display: flex;
    width: 17.1875rem;
    height: 1.875rem;
    padding: 0.5625rem 1rem;
    align-items: center;
    margin-top: 0.62rem;
    flex-shrink: 0;

    border-radius: 0.3125rem;
    border: 1px solid #EBE7E6;
    background-color: transparent;
}

.input.senha {
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

.entrar {
    display: flex;
    padding: 1.25rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 2.8125rem;
    background: #F1B8C9;
    box-shadow: 0px 1px 2px 0px rgba(51, 19, 30, 0.25);

    color: #3D1724;
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1025rem;
    text-decoration: none;
    width: 2.5rem;
    height: 1.5rem;
    margin-top: 4.5rem;

}